<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Camberwellness Medical Practice</span>
            <h2 class="cs-title">Book Your Appointment Today</h2>
            <p class="cs-text">
                We are open Monday to Saturday to provide comprehensive coordinated healthcare to the local community. GP services include antenatal care, chronic disease management, women's health and contraceptive services, men's health, skin checks, mental health, diabetes management and more.<br><br>
                <b>Our medical centre is wheelchair accessible, has onsite parking and public transport stops nearby.</b><br><br>
                <i>If you are experiencing any acute respiratory symptoms please wear a mask and notify reception on arrival.</i>
            </p>
            <a target="_blank" href="https://www.easyvisit.com.au/locations-loader" class="cs-button-solid">Book appointment</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 640, height: 812 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 640, height: 812 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 640, height: 812 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 2048, height: 750 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 2048, height: 750 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 2048, height: 750 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 2500, height: 555 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 2500, height: 555 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 2500, height: 555 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/background-1e.jpg" | resize({ width: 2500, height: 555 }) | jpeg %}" alt="background-1e" width="1920" height="426" loading="lazy" decoding="async">
    </picture>
</section>