// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────



/*-- -------------------------- -->
<---   Quote CS 2185   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-2185 {
        padding: var(--sectionPadding);
        /* 120px - 300px */
        padding-top: clamp(7.5rem, 25vw, 18.75rem);
        padding-bottom: 0;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1312/16rem);
            margin: auto;
            padding-bottom: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 90%;
            max-width: (738/16rem);
            /* 32px - 48px top & bottom */
            padding: clamp(2rem, 6vw, 2.5rem);
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
            position: relative;
            z-index: 10;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #075790;
                opacity: 0.6;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-quote {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.5vw, 1.5625rem);
            font-weight: 400;
            line-height: 1.2em;
            max-width: (1000/16rem);
            /* 32px - 48px */
            margin: 0 0 clamp(2rem, 6vw, 3rem);
            color: #fff;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0 0 (8/16rem);
            color: #000;
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: #000;
            display: block;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #quote-2185 {
        .cs-content {
            width: 80%;
        }
    }
}

/*-- -------------------------- -->
<---   Our expert GPs 3 cards - Services CS 282   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-282 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px on tablet */
            max-width: (550/16rem);
            margin: auto;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px on tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 32px - 40px */
            padding: clamp(2rem, 4vw, 2.5rem) (28/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            background-color: #f1f1f4;
            border-radius: (4/16rem);
            display: flex;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-h3,
                .cs-item-text,
                .cs-fake-link {
                    color: #fafbfc;
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.95vw, 1.5625rem);
            margin: 0;
            margin-bottom: (16/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (20/16rem);
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-fake-link {
            font-size: (16/16rem);
            font-weight: 700;
            /* pushes up against the .cs-item-text so it's always at the bottom of the card */
            margin-top: auto;
            color: var(--primary);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: color 0.3s;
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* animated text underline */
                content: "";
                width: 0%;
                height: 2px;
                /* current color of parent */
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-2/16rem);
                left: 0;
                transition: width 0.3s;
            }

            svg {
                margin-left: (8/16rem);

                path {
                    /* current color of parent */
                    fill: currentColor;
                }
            }
        }
    }
}

/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    #services-282 {
        .cs-card-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .cs-item {
            width: 38%;
            align-self: stretch;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 48rem) {
    #services-282 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-title {
            width: 80%;
            margin-left: 0;
        }

        .cs-text {
            width: 80%;
            margin-left: 0;
        }

        .cs-item {
            /* 224px - 413px */
            width: clamp(14rem, 30.4vw, 25.8125rem);
            min-height: (260/16rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
        }
    }
}


/*-- -------------------------- -->
<---     Learn more 3 cards - Services CS 942   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-942 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (800/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title,
        .cs-text {
            max-width: 100%;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: center;
            list-style: none;
            /* margin top value to match the negative margin value of the .cs-icon-wrapper */
            margin: (44/16rem) 0 0 0;
            /* 24px - 64px bottom */
            /* 24px - 40px left & right */
            padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
            background-color: #f7f3ee;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;

            &:hover {
                .cs-h3 {
                    color: var(--bodyTextColorWhite);
                }
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                    opacity: 0.9;
                }
                .cs-background {
                    opacity: 1;
                }
            }
        }

        .cs-icon-wrapper {
            width: (88/16rem);
            height: (88/16rem);
            margin: (-44/16rem) 0 (36/16rem) 0;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (80/16rem);
            height: auto;
            filter: invert(100%);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: (300/16rem);
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            color: var(--bodyTextColor);
            text-align: left; /* V added. Removing centers text. */
        }

        .cs-link {
            text-decoration: none;
            font-size: (20/20rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0;
            padding: 0;
            color: var(--primary);
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }

            &:before {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (0/16rem);
                left: 0;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity 0.3s;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.8; /* V reduced from 0.84 */
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-waves {
            width: 100%;
            height: (222/16rem);
            background-color: var(--primary);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-942 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

                                
/* V added triple SBS below  */
    
/*-- -------------------------- -->
<---     Side By Side all 4      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbs-71,
    #RTsbsr-71,
    #RTsbst-71,
    #RTsbsr-71-2 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 95%;
            max-width: (550/16rem);
            margin: 0;
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 312/335;
            border-radius: (16/16rem);
            z-index: 1;

            &:before {
                /* Top right box */
                content: "";
                width: (160/16rem);
                /* 202px - 248px */
                height: clamp(12.625rem, 25vw, 15.5rem);
                background: #1a1a1a;
                opacity: 1;
                border-radius: (16/16rem);
                position: absolute;
                display: block;
                /* 16px -20px */
                /* wrapped in a calc function to get a negative clamp value */
                top: ~"calc(clamp(.5rem, 2.09vw, 1.25rem) * -1)";
                right: ~"calc(clamp(.5rem, 2.09vw, 1.25rem) * -1)";
            }

            &:after {
                /* Bottom left box */
                content: "";
                width: (160/16rem);
                /* 202px - 248px */
                height: clamp(12.625rem, 25vw, 15.5rem);
                background: #1a1a1a;
                opacity: 1;
                border-radius: (16/16rem);
                position: absolute;
                display: block;
                /* 16px -20px */
                /* wrapped in a calc function to get a negative clamp value */
                bottom: ~"calc(clamp(.5rem, 2.09vw, 1.25rem) * -1)";
                left: ~"calc(clamp(.5rem, 2.09vw, 1.25rem) * -1)";
                z-index: -1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: (16/16rem);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RTsbs-71,
    #RTsbsr-71,
    #RTsbst-71,
    #RTsbsr-71-2 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-start;
            /* 60px - 128px */
            gap: clamp(3.75rem, 9.5vw, 8rem);
        }

        .cs-picture {
            /* 328px - 502px */
            width: clamp(20.5rem, 37.5vw, 31.375rem);
            /* 440px - 520px */
            height: clamp(27.5rem, 40vw, 32.5rem);
            /* 16px - 20px */
            margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
            flex: none;
        }

        .cs-content {
            width: 45%;
            margin: 0;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse - for 2nd & 4th    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbsr-71, #RTsbsr-71-2 {
        background-color: #f7f7f7;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RTsbsr-71, #RTsbsr-71-2 {
        .cs-container {
            justify-content: flex-end;
        }

        .cs-picture {
            /* 16px - 20px */
            margin-right: clamp(1rem, 5vw, 1.25rem);
            /* forces it to the left */
            order: 2;
        }
    }
}

