	.success-page {       
	  padding-top: 150px;
	  text-align: center;
	  padding-left: 2rem;
	  padding-right: 2rem;
	  padding-bottom: 2rem;
    background-color: #303030;
	  
	  h1 {
	    color: #28a745;
	    margin-bottom: 1rem;
	  }
	  
	  p {
	    font-size: 1.1rem;
	    color: #fff;
	    margin-bottom: 4rem;
	  }
}